* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

header {
  display: flex;
  align-items: center;
  background-color: #122a57;
  height: 100px;
  color: #fff;
}

header .list-items {
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: #ffff;
}

header .menu {
  justify-content: space-between;
}

.presentation {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.presentation .txt-presentation {
  min-height: 200px;
}

.txt-presentation h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#about h2 {
  font-size: 32px;
  color: #122a57;
  display: flex;
  margin-bottom: 20px;
}

#about h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background: #122a57;
  position: relative;
}

#about p {
  margin-bottom: 10px;
  width: 90%;
}

#about img {
  min-width: 420px;
}

.container-external {
  background-color: #122a57;
  width: 100%;
}

#services {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

#services h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.list-services {
  display: flex;
  justify-content: space-between;
}

.list-services .item-services {
  text-align: center;
}

.item-services a {
  width: 220px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  padding: 5px 10px;
  color: #122a57;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}

.item-services p {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.item-services img {
  width: 80%;
  margin: auto;
}

#planos {
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
  justify-content: center;
}

#planos h2 {
  font-size: 32px;
}

.list-planos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-plano {
  flex: 1;
  border: 5px solid #122a57;
  margin-right: 20px;
  padding: 10px;
  max-width: 240px;
}

.item-plano .btn {
  margin: auto;
  margin-bottom: 20px;
}

.item-plano h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.item-plano h3::after {
  content: "";
  background-color: #122a57;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-plano ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item-plano ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.item-plano ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122a57;
  margin-right: 5px;
}

footer {
  background-color: #122a57;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer {
  justify-content: space-between;
  color: #fff;
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }

  header .menu {
    align-items: center;
  }

  header .list-items {
    padding: 10px;
  }

  .about-txt {
    align-items: center;
    padding-left: 17px;
  }

  .presentation {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-evenly;
  }

  #about {
    flex-direction: column-reverse;
  }

  #about img {
    min-width: 320px;
    margin: auto;
  }

  #services h2 {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .list-services {
    flex-direction: column;
  }

  .item-services img {
    width: 25%;
    margin: auto;
  }

  .list-planos {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #planos h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .list-planos .item-plano {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  footer {
    height: 80px;
  }

  footer .footer p {
    display: flex;
    justify-content: center;

    padding: 5px;
  }
}
